.maincontainer1 {
    background-color: rgb(252, 252, 252);

}

.contact-section {
    position: absolute;
    top: 586px;
    text-align: center;
    align-items: center;
    padding: 30px;
    left: 0%;
    background-color: white;
    width: 100%;
    /* border: 10px solid black; */

}

.contact-section h2 {
    padding: 20px 0;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.grid-four {
    margin: 40px;
}

.box {
    /* border: 1px solid black; */
    height: 360px;
    margin: 30px;

}

.flexSi {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* border: 2px solid black; */
    margin: 20px;
}

.logoSi {
    position: relative;
    margin: 3rem;
    border-radius: 100px;
    width: 90px;
    height: 40px;
    text-align: center;
    left: 40px;
}

.logoSi .icon {
    padding: 5px;
    font-size: 30px;
}

.flexSi:hover .logoSi {
    background-color: blue;
    color: white
}

.text {
    height: 179px;
    padding: 20px 0;

}

.flexSi:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}