.outer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    height: 600px;
    left: 0px;
    background: #EAF1F1;
    border-radius: 0px;
}
.imgdiv,
.homebox {
    border: 1px;
    width: 50%;
}
.imgdiv {
    position: relative;
}
.homeimage {
    position: absolute;
    width: 90%;
    /* height: 400px; */
    object-fit: contain;
    left: 105%;
    top: 50px;
    margin-right: 20px;
    background: url(.jpeg);
    border-radius: 10px;
}

.boxhome {
    display: flex;
    border: 1px solid black;
}

.homeheader {
    position: absolute;
    width: 596px;
    height: 135px;
    left: 76px;
    top: 126px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 67px;
    letter-spacing: 0.96px;
    color: #000000;
}

.homepara {
    position: absolute;
    width: 662px;
    height: 84px;
    left: 76px;
    top: 285px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.216px;
    color: #1D1D1F;
}
.home_btn{
    position: absolute;
    width: 326px;
    height: 61px;
    left: 76px;
    top: 330px;
    background: #c89079;
    border-radius: 0px;
}