.main-work {
    position: relative;
}

.first-work {
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: url("workk.jpg");
    border-radius: 0px;
    top: 400px;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: -1; */
    background-size: cover;
}

.work-h {
    position: absolute;
    width: 100%;
    height: 62px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 62px;
    left: 250px;
    /* text-transform: capitalize; */
    color: #0e0c0c;
    top: 100px;
}

.work_para {
    position: absolute;
    width: 642px;
    height: 205px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: black;
    left: 125px;
    top: 175px;
}

.nextpara {
    position: absolute;
    width: 1515px;
    height: 716px;
    background: #f15757;
    top: 3000px;
}