.main-work {
    position: relative;
}

.first-work {
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: url("workk.jpg");
    border-radius: 0px;
    top: 400px;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: -1; */
    background-size: cover;
}
.work-h {
    position: absolute;
    width: 100%;
    height: 62px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 62px;
    left: 250px;
    /* text-transform: capitalize; */
    color: #0e0c0c;
    top: 100px;
}

.work_para {
    position: absolute;
    width: 642px;
    height: 205px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: black;
    left: 125px;
    top: 175px;
}

.nextpara {
    position: relative;
    width: 100%px;
    height: 716px;
    background: #d9d2d2;
    top:500px;
    margin-top: 20px;
    background-image: url("job.jpg");
}
.work-head{
    position: absolute;
    width: 320.93px;
    height: 86.6px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: #090909;
    left: 200px;
    margin:50px;
}
.work-newp{
    position: absolute;
    width: 500px;
    height: 80.41px;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 26px; */
    color: #090a0a;
    box-sizing: border-box;
    margin:120px;
    left:50px;
}
/* .photooo{
    position: absolute;
    width: 634px;
    height: 327px;
    /* background: url("job.jpg"); */
