.head {
    padding: 20px 0;
    color: rgb(183, 172, 172);
}

.head .logo h1 {
    font-size: 35px;
    font-weight: 900;
}

.head .icon {
    margin-left: 10px;
}

header {
    background-color: rgba(7, 7, 7, 0.2);
    margin: 0 30px;
    position: relative;
}

header .nav {
    display: flex !important;
}

header ul {
    padding: 30px 20px;
}

header li {
    margin-right: 40px;
}

header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

header ul li a:hover {
    color: #1eb2a6;
}

.toggle {
    display: none;
}

@media screen and (max-width: 768px) {

    header {
        margin: 0;
        background-color: #1eb2a6;
        position: relative;
    }

    header ul.flexSB {
        display: none;
    }

    header ul li {
        margin-bottom: 20px;
    }

    .toggle {
        display: block;
        background: none;
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: -20px;
    }

    .mobile-nav {
        position: absolute;
        top: 7vh;
        left: 0;
        width: 100%;
        background-color: #1eb2a6;
    }
}