.head {
    /* padding: 20px 0; */
    color: black;
    /* border: 1px solid black; */
}

.head .logo .main-logo {
    max-width: 100%;
    height: auto;
}




.head .icon {
    margin: 40px 10px 0 10px;
    cursor: pointer;

}

header {
    background-color: rgba(0, 0, 0, 0.781);
    margin: 0 0px;
    position: relative;
}

header .nav {
    display: flex;
}

header ul {
    padding: 30px 20px;
}

header li {
    margin-right: 40px;
}

header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

header ul li a:hover {
    color: #729b97;
}

.toggle {
    display: none;
}

@media screen and (max-width: 768px) {

    header {
        margin: 0;
        background-color: #1eb2a6;
        position: relative;
    }

    header ul.flexSB {
        display: none;
    }

    header ul li {
        margin-bottom: 20px;
    }

    .toggle {
        display: block;
        background: none;
        color: rgb(33, 32, 32);
        font-size: 30px;
        position: absolute;
        right: 0;
        top: -20px;
    }

    .mobile-nav {
        position: absolute;
        top: 7vh;
        left: 0;
        width: 100%;
        background-color: #1eb2a6;
    }
}