.work-two {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    /* background-color: #e2dcdc; */
}

/*

.work-twoo {
    position: absolute;
    width: 100%;
    height: 58px;
    left: 300px;
    top: 160px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 58px;
}

.work-twooo {
    position: absolute;
    width: 671px;
    height: 52px;
    left: 200px;
    top: 270px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    color: #0d0e0e;
}

.work-twoooo {
    position: absolute;
    width: 645px;
    height: 350px;
    left: 200px;
    top: 470px;
    background: #D9D9D9;

    border: 2px solid;
}

.work-twoooo img {
    width: 645px;
    height: 350px;

} */