.main_cont {
    position: relative;
    width: 100%;
    height: 974px;
    background: #958b8b;
    border-radius: 0px;
    background-image: url("baack.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.h_cont{
    position: absolute;
    width: 500px;
    height: 60px;
    left: 200px;
    font-size:larger;
    font-weight: 900;
}
.h_cont {
    position: absolute;
    width: 453px;
    height: 55px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: white;
}
.p_cont {
    position: absolute;
    width: 543px;
    height: 60px;
    left: 140px;
    top: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: white;
}
.cont_form{
    position: absolute;
    width: 1519px;
    height: 653px;
    left: 0px;
    top: 150px;
    border-radius: 0px;
    margin:60px;
}
/* .cont_form{
    box-sizing: border-box;
    border: 1px;
    width:800px;
} */
/* input{
    padding:20px;
} */
.form_name{
    box-sizing: border-box;
    position: absolute;
    width: 750px;
    height: 45px;
    left: 28px;
    top: 10px;
    background: #F7F7F7;
    border: 1px solid #C4C4C4;
    color: aqua;
    border-radius: 0px;
    font-weight: 500;
}
.cont_email{
    box-sizing: border-box;
    position: absolute;
    width: 750px;
    height: 45px;
    left: 28px;
    top: 100px;
    background: #F7F7F7;
    border: 1px solid #C4C4C4;
    border-radius: 0px;
    font-weight: 500;
}
.cont_phone{
    box-sizing: border-box;
    position: absolute;
    width: 750px;
    height: 45px;
    left: 28px;
    top: 190px;
    background: #F7F7F7;
    border: 1px solid #C4C4C4;
    border-radius: 0px;
    font-weight: 500;
}
.textare{
    box-sizing: border-box;
    position: absolute;
    width: 750px;
    height: 200px;
    left: 28px;
    top: 280px;
    background: #F7F7F7;
    border: 1px solid #C4C4C4;
    border-radius: 0px;
    font-weight: 500;
}
.cont_sub{
    position: absolute;
    width: 163px;
    height: 45px;
    left: 729px;
    top: 500px;
    background: #0f0e0e;
    border-radius: 0px;
    font-weight: 500;
    color:aliceblue
}
Enter Your Name{
    font-weight: 500;
}

submit{
    font-weight: 500;
}