.main_cont {
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    /* height: 800px; */
    /* left: -30px; */
    /* top: 2921px; */
    background: #d05454;
    border-radius: 0px;
}