* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.flexSB {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    margin: auto;
    /* max-width: 85%; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /* border: 1px solid red; */
}

.box1 {
    border: 1px solid black;
}

.flexMI {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container1 {
    height: 13rem;
    width: 100%;
}

button {
    padding: 17px 30px;
    background-color: #fff;
    color: #1eb2a6;
    font-weight: 600;
    border: none;
    margin: 30px 10px 0 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
    transition: 0.5s;
}

button i {
    margin-left: 20px;
}

button:hover {
    box-shadow: none;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

/* @media screen and (min-device-width: 768px) {
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
} */

/* @media only screen and (max-width: 600px) {
    .contact-section {
        top: 508px;
        padding: 0;

    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(2, 1fr);
        height: 100px;
        margin: 0;

    }
} */